<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922112065337-sh9is2d519d5sanvjd5hg65efl5fhgc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922112065337-sh9is2d519d5sanvjd5hg65efl5fhgc8</string>
	<key>API_KEY</key>
	<string>AIzaSyAGHGPmMFF7CEqbTviZyOhf2epQzxr6yfo</string>
	<key>GCM_SENDER_ID</key>
	<string>922112065337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rebeccabanks.PhotoApp</string>
	<key>PROJECT_ID</key>
	<string>photoapp-c5bc4</string>
	<key>STORAGE_BUCKET</key>
	<string>photoapp-c5bc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:922112065337:ios:664cc3a6995645877df2e8</string>
	<key>DATABASE_URL</key>
	<string>https://photoapp-c5bc4.firebaseio.com</string>
</dict>
</plist>
